
$gray-zvsl: #4d4f53;
$indigo-zvsl: #141E8C;
$azur-zvsl: #0073CF;

$link-color: $indigo-zvsl;
$btn-primary-color: $indigo-zvsl;


// $gutter-spacing: $sp-6 !default;
// $gutter-spacing-sm: $sp-4 !default;
// $nav-width: 20% !default;
// $nav-width-md: 18% !default;
// $nav-list-expander-right: true;
// $content-width: 80% !default;
