
$gray-zvsl: #4d4f53;
$indigo-zvsl: #141E8C;
$azur-zvsl: #0073CF;

$link-color: $indigo-zvsl;
$btn-primary-color: $indigo-zvsl;


// $gutter-spacing: $sp-4;
// $gutter-spacing-sm: $sp-6;
$nav-width: 85%;
$nav-width-md: 85%;
// $nav-list-expander-right: true;
$content-width: 60%;

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: 800px,
  lg: 1064px,
  xl: 1400px,
);

@media (min-width: 66.5rem){
    .side-bar{
        width: calc((100% - 100%) / 2 + 20%);
        min-width: 20%;
    }
    .site-nav, .site-header, .site-footer {
        width: 85%;
    }
    .main{
        margin-left: calc( (100% - 100%) / 2 + 20% );
    }
}
// @media screen and (min-width: 66.5rem){
//     .side-bar{
//         width: calc((100% - 1064px) / 2 + 264px);
//         min-width: 264px;
//     }
//     .site-nav, .site-header, .site-footer {
//         width: 264px;
//     }
// }
// $media-queries: (
//   xs: 320px,
//   sm: 500px,
//   md: $content-width,
//   lg: $content-width + $nav-width,
//   xl: 1400px,
// )